<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <center>
    	
    	<form>
    	
	    	<div class="form-group">
	  			<input class="form-control input-lg" for="inputUsername" id="Input" type="text" placeholder="Title">
	  		</div>
	  		<div class="form-group">
	  			<input class="form-control input-lg" for="inputEmail" id="Input" type="text" placeholder="Authors">
	  		</div>
	  		<div class="form-group">
	  			<input class="form-control input-lg" for="inputPassword" id="Input" type="text" placeholder="Description">
	  		</div>

	  		<p>IMAGE ??</p>

	      <div class="form-group">
	        <input class="form-control input-lg" for="inputFirstname" id="Input" type="text" placeholder="Price">
	      </div>

	      <div class="form-group">
	        <input class="form-control input-lg" for="inputLastname" id="Input" type="text" placeholder="Pages">
	      </div>

    	</form>

    </center>



  </body>
</html>