<!DOCTYPE html>
<html>
  <head>
    <title>Books</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head><style type="text/css"></style>
  </head>
  <body>
    
    <center>
    	
    	<h2>Create new book</h2>
    	<form id="bookform" method="post" action="/books" role="form">
    	
	    	<div class="form-group">
	  			<input class="form-control input-lg" name="title" type="text" placeholder="Title">
	  		</div>

	  		<textarea rows="4" cols="50" name="description" type="text" form="bookform" placeholder="Write here for the description"></textarea>

	  		<p>Add an image.<br>
        	<input type="file" name="image" size="40">
      	</p>

	      <div class="form-group">
	        <input class="form-control input-lg" name="price" type="number" placeholder="Price">
	      </div>

	      <div class="form-group">
	        <input class="form-control input-lg" name="pages" type="text" placeholder="Pages">
	      </div>

	      <div class="form-group">
      		<input type="submit" class="col-xs-12 btn btn-submit btn-primary btn-lg" value="CREATE">
    		</div>


    	</form>

    </center>



  </body>
</html>