<!DOCTYPE html>
<html>
  <head>
    <title>Sign up</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <center>
    <h1>If you dont have account then fill the form :P</h1>
  	<form class="form-horizontal" role="form">
  		<div class="form-group">
  			<input class="form-control input-lg" for="inputUsername" id="Input" type="text" placeholder="Username">
  		</div>
  		<div class="form-group">
  			<input class="form-control input-lg" for="inputEmail" id="Input" type="text" placeholder="Email">
  		</div>
  		<div class="form-group">
  			<input class="form-control input-lg" for="inputPassword" id="Input" type="text" placeholder="Password">
  		</div>

      <div class="form-group">
        <input class="form-control input-lg" for="inputFirstname" id="Input" type="text" placeholder="Firstname">
      </div>

      <div class="form-group">
        <input class="form-control input-lg" for="inputLastname" id="Input" type="text" placeholder="Lastname">
      </div>

      <div class="form-group">
        <input class="form-control input-lg" for="inputaddress" id="Input" type="text" placeholder="Address">
      </div>

      <div class="form-group">
        <input class="form-control input-lg" for="inputphone" id="Input" type="text" placeholder="Phone">
      </div>

      <p>IMAGE ????</p>

		
			<div class="form-group">
      	<input type="submit" class="col-xs-12 btn btn-submit btn-primary btn-lg" value="SIGN UP">
    	</div>

		</form>



    </center>
  </body>
</html>