body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: silver;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

a {
  color: #00B7FF;
}

a:hover {
	text-decoration: none;
	color: white;
}

div.relative {
  position: relative;
  width: 150px;
  height: 200px;
} 

div.bookImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  height: 200px;
  border: 1px solid gray;
}
div.bookSummary {
  position: absolute;
  top: 0px;
  left: 150px;
  width: 500px;
  height: 200px;
  background-color: #FCF4C7;
  border: 1px solid gray;
}
div.bookEdit {
  position: absolute;
  bottom: 0px;
  right: 0px;
}